* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
.container {
  width: 90%;
  height: 90%;
}
body {
  background-color: #00999d;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body * {
  padding: 5px;
  margin: 5px;
  margin-right: 0;
}



form {
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
form > div {
  align-self: center;
}
form input[type='text'] {
  width: 60%;
  background-color: #D0F0C0;
  border-radius: 5px;
  border: 1px solid #94B8FF;
}
.container form header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container form header .user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.fecha {
  display: inline;
  width: auto;
  background-color: red;
  height: 5%;
  align-self: flex-start;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.label{
  display: flex;
  flex-direction: column;
  text-align: right;
}
.text{
  width: 40%;
}
.text input[type='text'],.label label{
  margin-bottom: 20px;
}
.text input[type='text']{
  width: 100%;
}

input[type="file"] {
  width: 50%;
}

input[type="submit"] {
  align-self: center;
  width: 20%;
  background-color: #0F52BA;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
}
input:hover {
  cursor: pointer;
}
