@import url(variables.css);

body, html{
    margin: 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content:last baseline;
    gap: 20px;

    height: 80px;

    background: #000000;

    font-size: larger;
}

#header .head-element:nth-child(1){
    flex: 0.9;
    
    align-self: flex-start;

    height: inherit;
}

#header .head-element{
    display: flex;

    padding: 0 10px;

    height: 100%;

    text-align: center;

    transition: background 0.6s ease;
}

#header .index-element:hover{
    background: #ffffff;
}
#header .index-element:hover a{
    color: #000000;
}

#header .head-element .head-logo{
    max-width: 200px;

    height: inherit;
}

#header .head-element a{
    margin: auto;

    text-decoration: none;
    color: #fff;

    transition: color 0.6s ease;
}




/*  */


#main .section-primary{    
    box-sizing: border-box;
    
    padding: 80px 50px;

    height: 400px;

    background-image: url('../img/Img-Productos-Lab-scaled-scaled\ 1.png');
    background-size: cover;
}

#main .section-primary .text-primary{
    font-size: xxx-large;
    font-weight: bolder;
    color: #015D67;
}

#main .section-primary .text-secondary{
    max-width: 500px;
    
    margin: 30px 0 0 0;
    
    font-size: larger;
    color: #000000;
}

#main .section-content{
    background: #00AC81;
}

#main .section-content .content-title{
    padding: 20px;

    color: #015D67;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#main .section-content .content-flex{
    display: flex;
    flex-flow: wrap;
    gap: 10px;

    padding: 10px 100px; 
}

#main .section-content .content-flex .lab-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 570px;
    height: fit-content;
}

#main .section-content .content-flex .flex-box{
    display: flex;
    gap: 20px;
    
    padding: 20px;
}

#main .section-content .content-flex .lab-info{
    background: #ffffff;
}

#main .section-content .content-flex .flex-box .flex-port{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#main .section-content .content-flex .flex-box .flex-title{
    text-align: center;
    font-size: larger;

}

#main .section-content .content-flex .flex-box .flex-logo{
    font-size: xxx-large;
    text-align: center;

    transition: color 0.4s ease;
}

#main .section-content .content-flex .lab-info .bar-bottom{
    width: 0px;
    height: 5px;
   
    background: green;
    
    transition: width 0.4s ease;
}

#main .section-content .content-flex .lab-info:hover .bar-bottom{
    width: 100%;
}

#main .section-content .content-flex .lab-info:hover .flex-logo{
    color: #00AC81;
}

/*  */

#footer .flex-footer{
    display: flex;
    justify-content: space-around;

    padding: 20px;

    background: #000000;
    color: #ffffff;
}

#footer .flex-footer .footer-logo .footer-logo_image{

    margin: 0 0 20px 0;
}

#footer .flex-footer .title-list{
    font-size: x-large;
    font-weight: bolder;
}

#footer .flex-footer .footer-contacts .element-list{
    display: flex;
    align-items: center;
    gap: 20px;

    margin: 10px 0;
}

#footer .flex-footer .footer-contacts .element-list .element-logo{
    font-size: x-large;
}

#footer .flex-footer .footer-contacts .element-list .element-flex-text:nth-child(1){
    font-weight: bolder;
}